<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html" ></head>
<body>  <!--展示购物车页面-->
<div id="workingArea">
    <div th:replace="include/fore/top::html" ></div>
    <div th:replace="include/fore/simpleSearch::html" ></div>
    <div th:replace="include/fore/cart/cartPage::html" ></div>
    <!--这个是删除的时候弹出来的模态确认窗口-->
    <div th:replace="include/fore/modal4deleteConfirm::html" ></div>
    <div th:replace="include/fore/footer::html" ></div>
</div>
</body>
</html>