<div class th:fragment="html">
    <a th:href="${application.contextPath}">
        <img id="logo" src="img/site/logo.gif" class="logo">
    </a>


    <!--组件Search，搜索页在fore/search下-->
    <form action="search" method="get" >
        <div class="searchDiv">
            <input name="keyword" type="text" placeholder="时尚男鞋  太阳镜 ">
            <button  type="submit" class="searchButton">搜索</button>
            <div class="searchBelow">
                <!--使用application.categories_below_search 读出在拦截器上rquest.getServletContext().setAttribute("categories_below_search")的值-->
                <span th:each="c,status: ${application.categories_below_search}" th:if="${status.index>=5 && status.index<=8}">
                    <a th:href="@{'category?cid='+${c.id}}" th:text="${c.name}" ></a>
                    <span th:if="${status.index!=8}">|</span>
                </span>

            </div>
        </div>
    </form>
</div>